html
{
    background-color: black;
    background-image: url(clean.png)
      
}
body{
    color: white;
}

h1 {
    color: white;
    left: 100px;
        
     
}


table th {
border-bottom: 1px dotted white;

}

Table th {
    border: 1px solid black; 
    background: white;
    color: orange;
}

table th:nth-child(even) {
    background: white  
    color orange
}
img 
{
    width: 150px;
    border-radius: 150px;

}

.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

.form-input {
    width: 185px;
    height: 35px;
    font-size: 18px;
    padding: 3px;
}

p {
font-weight: bold;
}

div {
    font-weight: bold; 
}

.meny {
    background: white;
color: green;
}


