html {
    background-color: white(177, 43, 43);
    background-image: url(clean.png);
    background-size: 47%;
    background-position: center;
}

body {
    color: black;
}

h1 {
    color: black;
    height: 60px;
    position: relative;
    left: 40%;
}


table th {
    border-bottom: 1px dotted black;
}
Table th {
    border: 1px solid black;
    background: white;
    color: black;
}

table th:nth-child(even) {
    background: white color orange
}



.meny {
    display: inline-block;
    padding: 10px 20px;
    
}



img {
    width: 150px;
    border-radius: 150px;

}

.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

.form-input {
    width: 185px;
    height: 35px;
    font-size: 18px;
    padding: 3px;
}

p {
    font-weight: bold;
}

div {
    font-weight: bold;
}



.color-button {
    cursor: pointer; }