html
{
    background-color: lightgrey;
}

h1 {


    color: rgb(214, 103, 103);
}



table th {
border-bottom: 1px dotted black;

}

Table th {
    border: 1px solid black; 
    background: rgb(228, 142, 142);
}

table th:nth-child(even) {
    background: rgb(128, 231, 128)   
}
img 
{
    width: 150px;
    border-radius: 150px;

}

.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

.form-input {
    width: 185px;
    height: 35px;
    font-size: 18px;
    padding: 3px;
}

p {
font-weight: bold;
}

div {
    font-weight: bold; 
}